<div class="row">
  <div class="col s12 m6">
    <div class="card white darken-1">
      <div class="card-content dark-text">
        <p class="card-title"><i class="fas fa-book-reader"></i> StoryBooks</p>
        <p>Create public and private stories from your life</p>
      </div>
      <div class="card-action">
       <a class="waves-effect waves-light btn-large btn red darken-1" href="/auth/google"><i class="fa-brands fa-google left"></i> LOG IN WITH GOOGLE</a>
      </div>
    </div>
  </div>
</div>